<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    <link rel="stylesheet" href="/static/css/queue.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://unpkg.com/vanilla-context-menu@1.0.0/dist/vanilla-context-menu.js"></script>
    <script src=" https://cdn.rawgit.com/showdownjs/showdown/1.9.1/dist/showdown.min.js" defer></script>
    <script src="/static/js/helpers/Header.js" defer></script>
    <script src="/static/js/helpers/FloatBox.js" defer></script>
    <script src="/static/js/push.js" defer></script>
    <script src="/static/js/helpers/Navbar.js" defer></script>
    <script src="/static/js/helpers/InputListeners.js" defer></script>
    <script src="/static/js/helpers/Notifications.js" defer></script>
    <script src="/static/js/session.js" defer></script>
    <title>osu!modweb - User</title>
</head>

<body>
    <div class="navbar" id="page-navbar">
        <div class="navbar-desktop">
            <div class="logo"></div>
            <a href="/" hoverable="true" hover-text="Go to home page">Home</a>
            <a href="https://github.com/Sebola3461/osumodweb/" hoverable="true" hover-text="Github repository">Developers</a>
            <a href="/community" hoverable="true" hover-text="Community Discord server">Community</a>
            <div class="search-element">
                <input type="text" id="filter-name-select" hoverable="true" hover-text="Type the full username. Its cAsE sEnSiTiVe">
                <i class="fa fa-search" hoverable="true" hover-text="Search queues" id="search-button"></i>
            </div>
            <div class="right-controls">
                <p id="loading-nav-warn">loading...</p>
                <i class="notifications-icon fa fa-bell" onclick="toggleNotificationMenu()" id="nav-notifications-button">
                    <div>
                        <div class="nav-panel" id="notification-nav-menu">
                            <p class="warn">nothing here, or genjuro is gay...</p>
                        </div>
                    </div>
                </i>
                <button id="nav-login-button" onclick="startLoginProcess()">Login</button>
                <div class="profile-icon" onclick="toggleProfileMenu(event)" id="nav-profile-icon">
                    <div class="nav-panel" id="profile-nav-menu">
                        <div class="banner" id="nav-panel-banner">
                            <div class="overlay">
                                <p>Guest</p>
                            </div>
                        </div>
                        <div class="options">
                            <div class="option" onclick="goToOwnQueue()">
                                <i class="fa fa-user"></i>
                                <p>Your Queue</p>
                            </div>
                            <div class="option">
                                <i class="fa fa-list"></i>
                                <p>Your Requests</p>
                            </div>
                            <div class="option" onclick="window.location.pathname = '/settings'">
                                <i class="fa fa-tools"></i>
                                <p>Options</p>
                            </div>
                            <div class="option" onclick="logout()">
                                <i class="fa fa-arrow-left"></i>
                                <p>Log-out</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-mobile">
            <div class="logo"></div>
            <div class="search-element">
                <input type="text" id="filter-name-select" hoverable="true" hover-text="Type the full username. Its cAsE sEnSiTiVe">
                <i class="fa fa-search" hoverable="true" hover-text="Search queues" id="search-button"></i>
            </div>
            <div class="right-controls">
                <p id="loading-nav-warn">loading...</p>
                <i class="notifications-icon fa fa-bell" onclick="toggleNotificationMenuMobile()" id="nav-notifications-button">
                    <div>
                        <div class="nav-panel notifications mobile" id="notification-nav-menu">
                            <p class="warn">nothing here, or genjuro is gay...</p>
                        </div>
                    </div>
                </i>
                <button id="nav-login-button" onclick="startLoginProcess()">Login</button>
                <div class="profile-icon" onclick="toggleProfileMenuMobile(event)" id="nav-profile-icon">
                    <div class="nav-panel profile mobile" id="profile-nav-menu">
                        <div class="banner" id="nav-panel-banner">
                            <div class="overlay">
                                <p>Guest</p>
                            </div>
                        </div>
                        <div class="options">
                            <div class="option" onclick="goToOwnQueue()">
                                <i class="fa fa-user"></i>
                                <p>Your Queue</p>
                            </div>
                            <div class="option">
                                <i class="fa fa-list"></i>
                                <p>Your Requests</p>
                            </div>
                            <div class="option" onclick="window.location.pathname = '/settings'">
                                <i class="fa fa-tools"></i>
                                <p>Options</p>
                            </div>
                            <div class="option" onclick="logout()">
                                <i class="fa fa-arrow-left"></i>
                                <p>Log-out</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="toggleNavbarMenu()">
                <i class="fa fa-bars"></i>
            </a>
            <div class="vertical">
                <a href="/">Home</a>
                <a href="https://github.com/Sebola3461/osumodweb/">Developers</a>
                <a href="/community">Community</a>
            </div>
        </div>
    </div>
    <div class="error-modal">
        <p id="error-code">{{code}}</p>
        <p id="text">{{message}}</p>
    </div>
    <div class="float-box-modal">
        <div class="float-box" id="float-box"></div>
    </div>
</body>

</html>