<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://unpkg.com/vanilla-context-menu@1.0.0/dist/vanilla-context-menu.js"></script>
    <script src=" https://cdn.rawgit.com/showdownjs/showdown/1.9.1/dist/showdown.min.js" defer></script>
    <script src="/static/js/session.js" defer></script>
    <script src="/static/js/push.js" defer></script>
    <script src="/static/js/helpers/Navbar.js" defer></script>
    <title>osu!modweb - queues</title>
</head>

<body>
    <div class="navbar" id="page-navbar">
        <div class="navbar-desktop">
            <div class="logo"></div>
            <a href="/queues" class="active">Home</a>
            <a href="/dev">Developers</a>
            <a href="/community">Community</a>
        </div>
        <div class="navbar-mobile">
            <div class="logo"></div>
            <a href="javascript:void(0);" class="icon" onclick="toggleNavbarMenu()">
                <i class="fa fa-bars"></i>
            </a>
            <div class="vertical">
                <a href="/" class="active">Home</a>
                <a href="/dev">Developers</a>
                <a href="/community">Community</a>
            </div>
        </div>
    </div>
    <div class="warn">This is a beta release, if you find something broken, open an issue <a href="https://github.com/Sebola3461/osumodweb/issues/">here</a></div>
    <p class="section-title">
        <i class="fa fa-search"></i> Filters
    </p>
    <div class="filter-nav">
        <div class="option">
            <p>Modes</p>
            <select id="filter-mode-select">
                <option value="osu">osu!</option>
                <option value="osu">osu!taiko</option>
                <option value="osu">osu!catch</option>
                <option value="osu">osu!mania</option>
            </select>
        </div>
        <div class="option">
            <p>Type</p>
            <select id="filter-mode-select">
                <option value="any">All</option>
                <option value="true">Modders</option>
                <option value="false">Nominators</option>
            </select>
        </div>
        <div class="option">
            <p>Status</p>
            <select id="filter-mode-select">
                <option value="any">All</option>
                <option value="true">Open</option>
                <option value="false">Closed</option>
            </select>
        </div>
        <div class="option">
            <p>Sort by</p>
            <select id="filter-mode-select">
                <option value="osu">Name</option>
                <option value="osu">Date</option>
            </select>
        </div>
    </div>
    <div class="block-listing">
        <div class="queue-selector">
            <div class="banner"></div>
            <div class="metadata">
                <div class="avatar"></div>
                <p class="title">Sebola's banana queue</p>
            </div>
        </div>
    </div>
</body>

</html>