<div class="layout-body">
    <div class="rowbar">
        <div class="wrapper">
            <osu-select options='[{"text": "modders", "selected": true, "value": false, "callback": "changeListingBn(false)" }, {"text": "nominators", "selected": false, "value": true, "callback": "changeListingBn(true)" }]'></osu-select>
        </div>
    </div>
    <div class="search-container">
        <div class="wrapper">
            <div class="search-nav">
                <div class="decorator">
                    <input type="text" id="queue-username-search" placeholder="type in keywords...">
                </div>
                <button onclick="searchQueues()">search</button>
            </div>
            <div class="tags-modal">
                <p>language preference</p>
                <select id="queue-language-filter" oninput="changeListingLanguage(this.options[this.selectedIndex].text)">
                    <option value="any">any</option>
                    <option value="2">English</option>
                    <option value="4">Chinese</option>
                    <option value="7">French</option>
                    <option value="8">German</option>
                    <option value="11">Italian</option>
                    <option value="3">Japanese</option>
                    <option value="6">Korean</option>
                    <option value="10">Spanish</option>
                    <option value="9">Swedish</option>
                    <option value="12">Russian</option>
                    <option value="13">Polish</option>
                    <option value="5">Instrumental</option>
                    <option value="14">Other</option>
                </select>
                <p>genre preference</p>
                <select name="queue-genre-filter" oninput="changeListingGenre(this.options[this.selectedIndex].text)">
                    <option value="any">any</option>
                    <option value="2">Video Game</option>
                    <option value="3">Anime</option>
                    <option value="4">Rock</option>
                    <option value="5">Pop</option>
                    <option value="6">Other</option>
                    <option value="7">Novelty</option>
                    <option value="9">Hip Hop</option>
                    <option value="10">Electronic</option>
                    <option value="11">Metal</option>
                    <option value="12">Classical</option>
                    <option value="13">Folk</option>
                    <option value="14">Jazz</option>
                </select>
                <p>status</p>
                <select id="queue-status-filter" oninput="changeListingStatus(this.options[this.selectedIndex].value)">
                    <option value="any">any</option>
                    <option value="true">open</option>
                    <option value="false">closed</option>
                </select>
            </div>
        </div>
    </div>
    <section class="block-listing" id="queues-listing">

    </section>
</div>